#choropleth_vis {
    position: relative;
    width: 400px;
    height:400px;
    left: -79px;
    top: 20px;
}

#bubblemap_vis {
    width: 500px;
    height: 500px;
}

#defaultCanvas0 {
      /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
       
}

h4{
    text-decoration: underline;
}


  .grid line {
    stroke: black;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 1;
  }