<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Human Migration</title>

<!-- load Bootstrap  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>


<!-- Leaflet JS-->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>


<!--Load D3-->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!--Load Ploty-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- load CSS -->
<link rel="stylesheet" href="/static/css/style.css"> 

</head>


<body>
<!-- bootstrap container for whole page -->    
<div class="container">

<h1>Human Migration Across the United States</h1>
<p>In this project: we tracked human migration across the United States.</p>


<!-- Dropdown Menu -->
<label for="state">Choose a State:</label>
<select name="state" id="state" onchange="optionChanged(this.value)">
</select>

<br>
<br>



<h2>Choropleth Map</h2>
    <div id="choropleth_vis"></div>
    <!-- Put plot Here-->  
    <script src ="../static/js/choropleth.js"></script>
    
    <p><b>This is a bold paragraph</p></b>
    <p>This is a paragraph</p>  
    
        
<h2>Multiline Graph</h2>
    <div id="multiline_vis"></div>  
    <script src = "../static/js/multiline.js"></script>      
    <p><b>This is a bold paragraph about multilines</p></b>
    <p>This is a paragraph about multilines</p>  
    



<h2>Bubble Map</h2>
    <!-- Dropdown Menu -->
    <label for="time">Choose a Period:</label>
    <select name="timePer" id="time" onchange="optionChanged(this.value)">
    </select> 
    <div id="bubblemap_vis"></div>
    <!-- Put plot Here--> 
    
    <script src ="../static/js/bubblemap.js"></script>
    <p><b>This is a bold paragraph</p></b>
    <p>This is a paragraph</p>  
    
    


</div>
</body>
</html>