<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Human Migration</title>

<!-- load Bootstrap  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>


<!-- Leaflet JS-->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

<!-- Load the p5.js library -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
<!-- Load p5 Background Sketch-->
<script src="../static/js/animation.js"></script>


<!--Load D3-->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!--Load Ploty-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- load CSS -->
<link rel="stylesheet" href="/static/css/style.css"> 


</head>


<body>
    

<!-- bootstrap container for whole page -->    
<div class="container">

<h1>Human Migration Across the United States</h1>
<p><i>In this project: we tracked Human Migration across the United States.</i></p>
<p>Lets set up the story here. Who moved where? Why did they do it? Were there movers that moved more or less? Set up some mistery.</p>
<p>We can really get into some dialog here. </p>
<br>




<div class="row">

    <div class="col-sm"><!-- div for graph-->
        <h4>Where are they from and where are they going?</h4>
        <h6><b>State to State Migration Flows: Period 2004-2005</h6></b>
        <p>Select destination state to see which states movers lived in one year prior.</p>  
        
        <!-- Dropdown Menu -->
        <label for="state">Destination State:</label>
        <select name="state" id="state" onchange="optionChanged(this.value)">
        </select>
        
        
        
    <div id="choropleth_vis"></div>
    <!-- Put plot Here-->  
    <script src ="../static/js/choropleth.js"></script>
    
    <p><i>2005 American Community Survey (ACS)</p></i>
    
        </div>
        <div class="col-sm"><!-- div for graph-->
            <h4>Why are they moving?</h4>
            <h6><b>Reasons for Move by Category: Period 1999-2019</h6></b>
            
    <div id="multiline_vis"></div>  
    <script src = "../static/js/multiline.js"></script>      
    <p><i>U.S. Census Bureau, Current Population Survey, Annual Social and Economic Supplement 1999-2020</p></i>
    <p>Here we could post some insights</p>
    <p>Some conclusions</p>
</div>
</div><!--Closing row-->

<div class="row" style="margin-top: 25px;">
<div class="col-sm"><!-- div for graph-->
    <h4>How far did they go?</h4>
    <h6><b>Annual Geographic Mobility Rates, By Type of Movement: Period 1948-2020</h6></b>

    <label for="time">Select a Period:</label>
    <select name="timePer" id="time" onchange="optionChanged(this.value)">
    </select> 
    <div id="bubblemap_vis"></div>
    <!-- Put plot Here--> 
    
    <script src ="../static/js/bubblemap.js"></script>
    <p><i>U.S. Census Bureau, Current Population Survey, Annual Social and Economic Supplement 1948-2020</p></i>
    
    </div>

    <div class="col-sm">
<h4>US Overall </h4>
<p><b>This is a line Chart</b></p>
    <div id="linechart" style="margin-top: 0px;"></div>
    <script src="../static/js/linechart.js"></script>
    <p>This is a sentance or two about a line Chart</p>
    <p>We really have some room here</p>
    <p>for some really nice stories. Long multi-sentance stories!</p>
</div>

</div><!-- closing div for row. Don't touch-->
</div><!-- Closing div for boostrap page container-->


</body>

</html>